<div class="container">
  <mdb-card dark="true">
    <mdb-card-header class="elegant-color-dark text-center">
      Sign in
    </mdb-card-header>
    <mdb-card-body class="grey darken-2">
      <div class="alert danger-color-dark text-center" [hidden]="!showLoginError">
        Invalid email or password.
      </div>
      <div class="alert info-color-dark text-center" [hidden]="!showRegistrationSuccessMessage">
          Registration was successful. After verifying your email you will be able to log in.
      </div>
      <div class="alert info-color-dark text-center" [hidden]="!showLogoutMessage">
        You have been successfully logged out.
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="md-form">
          <i class="fa fa-envelope prefix white-text"></i>
          <input type="email" id="email" class="form-control"
                 mdbInputDirective [mdbValidate]="false"
                 name="email" ngModel>
          <label for="email" class="text-white">Email</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix white-text"></i>
          <input type="password" id="password" class="form-control"
                 [mdbValidate]="false" mdbInputDirective
                 name="password" ngModel>
          <label for="password" class="text-white">Password</label>
        </div>
        <div class="text-center text-white">
          <button class="elegant-color-dark" mdbBtn>Login</button>
        </div>
      </form>
    </mdb-card-body>
    <mdb-card-footer class="elegant-color-dark text-right">
      <a class="text-white" routerLink="/register">Register...</a>
    </mdb-card-footer>
  </mdb-card>
</div>
