<p class="title text-center">
   Welcome to Reppery!
</p>
<br>
<p>
  <strong>About</strong>
</p>
<p>
  Reppery is a web application which helps you memorize various things.
  It uses an intelligent flashcards system powered by a special algorithm (SuperMemo 2)
  which is much more efficient than traditional study methods. Click register above to set up
  new account and start studying!
</p>
<div [hidden]="!auth.isAuthenticated()">
  <p>
    <strong>How to</strong>
  </p>
  <p>
    Click dashboard above to access your decks. Create new deck using add new deck button. After creating
    new deck add flashcards to it using plus sign next to deck name. Study due cards using square academic cap button.
  </p>
</div>
