<div class="container">
  <button routerLink="/add" mdbBtn class="w-100 elegant-color">Add new deck...</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deck of decks">
      <td>
        <a>{{deck.title}}</a>
      </td>
      <td>
        <a>{{deck.due}}</a>
      </td>
      <td class="d-flex flex-row justify-content-center actions text-center">
        <a class="text-white" routerLink="/add/{{deck.id}}" mdbWavesEffect><i class="fa fa-plus"></i></a>
        <a class="text-white" routerLink="/study/{{deck.id}}" mdbWavesEffect><i class="fa fa-graduation-cap"></i></a>
      </td>
    </tr>
  </tbody>
</table>
